<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.cito">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="24" />
	<application android:label="@string/app_name" android:icon="@drawable/AppIcon">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyD1aYj83O98CEizp9A4EtHoIQ6qG9HLVU4" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<provider android:name="android.support.v4.content.FileProvider" 
				android:authorities="com.cito.fileprovider" 
				android:exported="false" 
				android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" 
			android:resource="@xml/file_paths">
			</meta-data>
		</provider>
	</application>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



</manifest>